<h5>Registrarse</h5>
<h6>con tu red social</h6>
<div class="container registro">
    <div class="row">
        <div class="col-md">
            <a>
                <img src="images/google_icon.png"/>
                Google
            </a>
        </div>
        <div class="col-md">
            <a>
                <img src="images/facebook.png"/>
                Facebook
            </a>
        </div>
        <div class="col-md">
            <a>
                <img src="images/twitter_icon.png"/>
                Twitter
            </a>
        </div>
    </div>
    <p class="separator">
        <span>o</span>
    </p>
    <form class="form_registro_inicio">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="Nombres">Nombres</label>
                    <input type="text" class="form-control" id="nombres_registro" aria-describedby="emailHelp">
                    <small id="error_nombres_registro" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="exampleInputEmail1">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos_registro" aria-describedby="emailHelp">
                    <small id="error_apellidos_registro" class="form-text text-muted"></small>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="correo_registro">Correo Electrónico</label>
                    <input type="email" class="form-control" id="correo_registro" aria-describedby="emailHelp">
                    <small id="error_emailregistro" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="re_correo_registro">Confirme Correo</label>
                    <input type="email" class="form-control" id="re_correo_registro" aria-describedby="emailHelp">
                    <small id="error_re_correo_registro" class="form-text text-muted"></small>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="nombres_registro">Nombres</label>
                    <input type="text" class="form-control" id="nombres_registro" aria-describedby="emailHelp">
                    <small id="error_nombres_registro" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="exampleInputEmail1">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos_registro" aria-describedby="emailHelp">
                    <small id="error_apellidos_registro" class="form-text text-muted"></small>
                </div>
            </div>
        </div>
        </div>
        <br>
        <button  type="button" class="btn btn-primary btn_login">Regístrate</button>
    </form>
    <br>
    <a class="ir_inicio">¿Tienes cuenta? Inicia sesión</a>
    </div>
</div>